<div class="top-row ps-3 navbar navbar-dark" style="background-color:#0022ff">
        <div class="container-fluid">
        <a class="navbar-brand"  href="">TechServe</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" style="background-color:#007bff;" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="masters">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Master
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="staff">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Staffs
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="costumers">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Costumers
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="detailstables">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Details
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="spareparts">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> S. Parts
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="devices">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Devices
                </NavLink>
            </div>
        </nav>
    </div>