@page "/"

@using Microsoft.EntityFrameworkCore
@using TechServe.Model
@using TechServe.Components.Helpers
@inject IDbContextFactory<TechServe.Data.TechServeContext> DbFactory

<EditForm Model="@staff" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="password">Password:</label>
        <InputNumber id="password" @bind-Value="staff.PasswordSimple" type="password" />
        <ValidationMessage For="@(() => staff.PasswordSimple)" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

@code {
    private Staff staff = new Staff();

    private void HandleSubmit()
    {
        // Şifre sunucu tarafında hashlenir
        staff.PasswordHash = PasswordHelper.HashPassword(Convert.ToString(staff.PasswordSimple));
        // Veritabanına kaydedilebilir
    }
}