@page "/Costumers/edit"

@using Microsoft.EntityFrameworkCore
@using TechServe.Model
@inject IDbContextFactory<TechServe.Data.TechServeContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Costumers</h4>
<hr />
@if (Costumers is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Costumers" OnValidSubmit="UpdateCostumers" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Costumers.id" value="@Costumers.id" />
                <div class="mb-3">
                    <label for="costumername" class="form-label">CostumerName:</label>
                    <InputText id="costumername" @bind-Value="Costumers.CostumerName" class="form-control" />
                    <ValidationMessage For="() => Costumers.CostumerName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <InputText id="phone" @bind-Value="Costumers.Phone" class="form-control" />
                    <ValidationMessage For="() => Costumers.Phone" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="e_mail" class="form-label">E_Mail:</label>
                    <InputText id="e_mail" @bind-Value="Costumers.E_Mail" class="form-control" />
                    <ValidationMessage For="() => Costumers.E_Mail" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="adress" class="form-label">Adress:</label>
                    <InputText id="adress" @bind-Value="Costumers.Adress" class="form-control" />
                    <ValidationMessage For="() => Costumers.Adress" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City:</label>
                    <InputText id="city" @bind-Value="Costumers.City" class="form-control" />
                    <ValidationMessage For="() => Costumers.City" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="postalcode" class="form-label">PostalCode:</label>
                    <InputText id="postalcode" @bind-Value="Costumers.PostalCode" class="form-control" />
                    <ValidationMessage For="() => Costumers.PostalCode" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-edit">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/costumers" class="btn btn-back">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int id { get; set; }

    [SupplyParameterFromForm]
    public Costumers? Costumers { get; set; }
    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Costumers ??= await context.Costumers.FirstOrDefaultAsync(m => m.id == id);

        if (Costumers is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateCostumers()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Costumers!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CostumersExists(Costumers!.id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/costumers");
    }

    bool CostumersExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Costumers.Any(e => e.id == id);
    }
}
<style>
    .container {
        position: relative;
    }

    .used-parts {
        cursor: pointer;
        position: relative;
    }

    .checkbox-list {
        position: absolute;
        background: white;
        border: 1px solid #ddd;
        padding: 5px;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-height: 300px;
        overflow-y: auto;
        width: 300px;
    }

        .checkbox-list div {
            display: flex;
            align-items: center;
            font-size: 14px;
        }

        .checkbox-list input[type="checkbox"] {
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }


    .btn-primary {
        margin-top: 10px;
    }

    .custom-button {
        height: 20px;
        line-height: 0px;
        font-size: 14px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }



    .form-check {
        flex: 1 0 33%;
        margin: 20px;
        display: inline-block;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        border: 2px solid;
        background-color: transparent;
        color: currentColor;
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-edit {
        border-color: #007bff;
        color: #007bff;
    }

        .btn-edit:hover {
            background-color: #007bff;
            color: white;
        }

    .btn-back {
        border-color: #6c757d;
        color: #6c757d;
    }

        .btn-back:hover {
            background-color: #6c757d;
            color: white;
        }

</style>