@page "/BuySpareParts/edit"

@using Microsoft.EntityFrameworkCore
@using TechServe.Model
@inject IDbContextFactory<TechServe.Data.TechServeContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>BuySpareParts</h4>
<hr />
@if (BuySpareParts is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="BuySpareParts" OnValidSubmit="UpdateBuySpareParts" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="BuySpareParts.id" value="@BuySpareParts.id" />
                <div class="mb-3">
                    <label for="sparepartsbrand" class="form-label">SparePartsBrand:</label>
                    <InputText id="sparepartsbrand" @bind-Value="BuySpareParts.SparePartsBrand" class="form-control" />
                    <ValidationMessage For="() => BuySpareParts.SparePartsBrand" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="sparepartsmodel" class="form-label">SparePartsModel:</label>
                    <InputText id="sparepartsmodel" @bind-Value="BuySpareParts.SparePartsModel" class="form-control" />
                    <ValidationMessage For="() => BuySpareParts.SparePartsModel" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="partstype" class="form-label">PartsType:</label>
                    <InputText id="partstype" @bind-Value="BuySpareParts.PartsType" class="form-control" />
                    <ValidationMessage For="() => BuySpareParts.PartsType" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="amountofspareparts" class="form-label">AmountOfSpareParts:</label>
                    <InputNumber id="amountofspareparts" @bind-Value="BuySpareParts.AmountOfSpareParts" class="form-control" />
                    <ValidationMessage For="() => BuySpareParts.AmountOfSpareParts" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="barcode" class="form-label">Barcode:</label>
                    <InputNumber id="barcode" @bind-Value="BuySpareParts.Barcode" class="form-control" />
                    <ValidationMessage For="() => BuySpareParts.Barcode" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="spareprice" class="form-label">SparePrice:</label>
                    <InputNumber id="spareprice" @bind-Value="BuySpareParts.SparePrice" class="form-control" />
                    <ValidationMessage For="() => BuySpareParts.SparePrice" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/buyspareparts">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int id { get; set; }

    [SupplyParameterFromForm]
    public BuySpareParts? BuySpareParts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        BuySpareParts ??= await context.BuySpareParts.FirstOrDefaultAsync(m => m.id == id);

        if (BuySpareParts is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateBuySpareParts()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(BuySpareParts!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!BuySparePartsExists(BuySpareParts!.id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/buyspareparts");
    }

    bool BuySparePartsExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.BuySpareParts.Any(e => e.id == id);
    }
}
